html,
body {
    padding: 0;
    margin: 0;
    outline: 0;
    border: none;
}

* {
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

#root {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fdfdfd;
}

.result-items {
    position: fixed;
    min-width: 120px;
    width: fit-content;
    height: fit-content;
    display: block;
    top: 0;
    left: 0;
    padding: 1em;
    margin: 0;
    user-select: none;
    pointer-events: none;
    z-index: 2;
}

.result-items>li {
    list-style: none;
    color: #2b2b2b;
    opacity: 0.2;
}

#preview {
    display: none;
    position: fixed;
    right: 0;
    z-index: 3;
    top: 0;
    border: 1px solid #ccc;
    width: 120px;
    height: 120px;
}

#canvas3 {
    display: none;
    position: fixed;
    top: 120px;
    right: 0;
    z-index: 3;
    border: 1px solid #ccc;
    width: 120px;
    height: 120px;
}

body.debug #preview,
body.debug #canvas3 {
    display: block;
}

.cpu-text-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
    bottom: 1rem;
    margin: 0;
    padding: 2em;
    user-select: none;
    pointer-events: none;
    z-index: 99;
}

.cpu-text-wrapper .caption:empty {
    display: none;
}
.cpu-text-wrapper .caption {
    display: block;
    margin: 0;
    padding: 12px;
    text-align: center;
    width: fit-content;
    color: #2a2a2a;
    background-color: #efefef;
}

.round-starter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffd139;
    z-index: 200;
    transition: top 600ms ease-out;
}

.round-starter.hide {
    top: -100vh;
}

.round-starter .description {
    text-align: center;
    margin-bottom: 1.25em;
    font-size: 120%;
}

.round-starter .description p {
    margin: 0.25em auto;
}

.round-starter .description #answer {
    font-weight: bold;
    font-size: 200%;
}

.game-buttons {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    padding-top: 2em;
    column-gap: 16px;
}

.game-btn {
    padding: 10px 16px;
    min-width: auto;
    width: fit-content;
    min-height: 48px;
    margin: 0;
    color: #fefefe;
    font-size: 18px;
    font-weight: 200;
    border: none;
    cursor: pointer;
    outline: 0;
    transform: none;
}
.game-btn:active {
    transform: translate(-3px, 3px);
}

.btn-wide {
    min-width: 180px;
}

.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-green {
    color: #fefefe;
    background-color: #2eaa50;
}

.btn-red {
    color: #fefefe;
    background-color: #DC3023;
}

.btn-gray {
    color: #1a1a1a;
    background-color: #f2f2f2;
}

.shadow-right-down {
    box-shadow: 4px 4px 0 rgba(98, 98, 98, 0.2);
}
.shadow-right-down:active {
    box-shadow: 2px 2px 0 rgba(98, 98, 98, 0.2);
    transform: translate(2px, 2px);
}
